[dev-packages]
gcplogs = {path = ".", editable = true, extras = ["tests", "dev"]}
google-api-python-client = "*"
google-cloud-logging = "*"
click = "*"
click-completion = "*"
grpcio = "*"

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
